.filters {
  width: 90%;
  background-color: #fff;
  position: absolute;
  top: 65px;
  border-radius: 10px;
  box-shadow: -3px 13px 20px 4px #000;
  &:after {
    content: '\25b2';
    padding-left: 0.5em;
    position: absolute;
    top: -13px;
    right: 10%;
    color: #FFF;
  }
  &__selectors {
    width: 100%;
    padding: 5px;
    & .react-datalist-input{
      &__listbox {
        max-height: 300px;
        overflow-y: auto;
      }
    }
  }
}